{
    /* z-index: 1;
    overflow-x: hidden;
    background-color: #EDECEC ;
    padding-bottom: 20px; */
}


.dashboardBody{
    z-index: 0;
    /* width: 100vw; */
    overflow-x: hidden;
    background-color: #EDECEC ;
    padding-bottom: 0;
    display: grid;
    grid-template-rows: auto 1fr 3fr;
    gap: 25px;
    height: 100%;

    @media (min-height: 1100px) { 
        grid-template-rows: auto auto 3fr;
    } 
}


/* TOP DASHBOARD */
.topDashboard{  
    position: relative;  
    
}


.topDashboard::before{
    content: "";
    /* overflow: hidden; */
    background-image: url('/src/image/background.png');
    background-size: cover ;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.30;   
   
}
    
.topDashboard_content{
    padding: 25px; 
    width: 100%;
    position: relative;
    display: grid;
    grid-template-rows: auto;
    gap: 15px;   
    @media (max-width: 850px) {        
        padding: 15px; 
        } 
}
    /* Sale Activity */




.saleActivityBox{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 25px;  
    
    @media screen and  (max-width: 1024px) {
        gap: 15px; 
          
    } 

    @media screen and  (max-width: 950px) {
        grid-template-columns: repeat(2, 1fr);   
        /* padding-right: 5px; */
        
    } 

    @media (max-width: 600px) {        
        grid-template-columns: repeat(1, auto);  
        }

    
}

.saleBox{    
    @media screen and (max-width: 600px) {  
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    }
}

.saleNumber{
    font-family:"Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: rgb(38, 89, 159, 1);
    display: flex;
    justify-content: flex-end;
    @media (max-width: 950px) {
        font-size: large; 
     } 
     
     @media (max-width: 600px) {
        align-items: center;
       align-self: center;
     } 
}

.saleIcons{
display: grid;
grid-template-columns: repeat(2, auto);
font-weight: bold;  
    
    @media screen and (max-width: 530px) {  
        grid-template-columns: none;
        display: flex;
        }
}

.saleIcon{
    font-size: 70px;
    opacity: 0.4; 
    @media (max-width: 950px) {
        font-size: 40px;
    } 

    @media (max-width: 600px) {
        font-size: 30px;
    }   
}

.saleText{
    font-size: 15px;
    text-align: end;
    align-self: end;
    font-style: italic;
    margin: 0;
    display: block;

    @media (max-width: 950px) {
        font-size: 10px; 
     } 

     @media (max-width: 600px) {
        align-self: center;
     } 
    
}

.packed{
    color: rgb(38, 89, 159, 1);
    align-items: end;

}

.shipped{
    color: rgb(255, 85, 0, 1);
    align-items: end;
}


.delivered{
    color: rgb(157, 190, 186, 1);
    align-items: end;
}

.invoiced{
    color: rgb(248, 176, 66, 1);
    align-items: end;
}


    /* Inventory Summary */
.inventorySummary{    
    display: grid;
    grid-template-rows: auto repeat(2, 1fr);
    gap: 15px;
    position: relative;
    width: auto;
    @media (max-width: 1000px) {
        gap: 10px;
        grid-template-rows: auto;    
    } 
    @media (max-width: 700px) { 
        grid-template-columns: 1fr repeat(2, 2fr);   
        gap: 15px; 
    } 

    @media (max-width: 450px) { 
        grid-template-columns: repeat(1, auto);   
        
    } 

}

.instock, .restock{
    display: flex;   
    
}

.verticalLine{
    border-left: 2px solid #26599F;
    height: auto;
    margin-right: 10px;  
    
    @media (max-width: 750px) {
        border-left: 1px solid #26599F;
        margin-right: 5px;
     } 

     @media (max-width: 700px) { 
        border-left: 2px solid #26599F;
        margin-right: 10px;  
        } 
}

.stockText{
    font-size: 16px;
    width: 100%;
   display: grid;
   grid-template-columns: repeat(2, auto);

   @media (max-width: 1000px) {
   font-size: 13px;
   }

   @media (max-width: 700px) { 
    font-size: 16px;
    }    
}

.instockText{
    font-size: 16px;
    @media (max-width: 1035px) {
        font-size: 13px;
     }  
        
     @media (max-width: 850px) {
        font-size: 10px;
     }    

     @media (max-width: 750px) {
        font-size: 9px; 
     } 

     @media (max-width: 700px) { 
        font-size: 13px;
        }  

}

.stockQuantity{
    font-size: 20px;
    color: #26599F;
    font-weight: bold;
    font-family:"Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: end;  
    align-items: end;

    @media (max-width: 1035px) {
        font-size: 16px;
     } 

     @media (max-width: 750px) {
        font-size: 12px; 
     } 
     @media (max-width: 700px) { 
        font-size: 16px;
        } 
    
}
/* MIDDLE DASHBOARD */
.middleDashboard{
    padding: 10px 25px 0;
    /* @media screen and  (max-width: 950px) {
        padding-right: 20px; 
    }  */

    @media (max-width: 850px) {        
        padding: 10px 15px 0;
       
        }

}

.middleDashboard_content{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;

    @media (max-width: 800px) {        
        grid-template-columns: repeat(1, auto);  
       
        }
   
}
.total{
    display: grid;
    grid-template-rows: repeat(3, auto);
}

.icon_vector{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    color: #26599F;
    
}

.vector{
    width: auto;

    @media (max-width: 900px) {        
        width: 80%;
        height: 80%;
       
        }
   
}
.profit_icon{
    font-size: 40px;
    
}

.profit_number{
    text-align: end;
    align-self: center;
    font-size: 30px;
    font-weight: bold;
}

.revenue_percentage{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: end;
}



.uparrow_icon{
    font-size: 12px;
 
}


/* BOTTOM DASHBOARD */

.bottomDashboard{
    padding: 10px 25px 0;


    @media screen and  (max-width: 1200px) {
        padding: 10px 0 ;
    } 
    

     
}

.bottomDashboard_content{
    display: grid;
    grid-template-columns: repeat(3, auto); 
    gap: 30px;
    padding: 10px 0;

    @media screen and  (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr); 
        padding: 10px 25px 0;
    } 

    @media (max-width: 428px) {
        grid-template-columns: repeat(1, 1fr); 
      
    } 

    @media (min-height: 1100px) { 
        padding: 10px 25px;
    } 
    @media (max-width: 850px) {        
        padding: 10px 15px 0;
       
        }
}

/* inventory */
.inventory{
    display: grid;
    grid-template-rows: repeat(6, auto); 
    gap: 15px;
    
}

.inventory_viewall{
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

.instock-inventory{
    border: 2px solid #26599F;
    border-radius: 15px;
    padding: 10px;
    height: fit-content;
 
}
.lowStock{
    /* border: 1px solid rgba(226, 12, 12, 0.25); */
    font-size: 12px;
    background-color: #F8B042;
    justify-content: center;
    margin: 0 auto;
    padding: 3px 0;
    border-radius: 8px;
    text-align: center;
}

.lowstock_detail{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed;
}


/* topselling */

.topSelling{
    display: grid;
    grid-template-rows: 50px repeat(4, 40px);
    
}

.topselling_description{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    border-bottom: 1px solid;
    align-items: center;   
    font-weight: bold; 
}


.recentOrders{
    @media screen and  (max-width: 1200px) {
        grid-column: span 2;
    } 
    
}
.recentorder_detail{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed;
    padding: 10px 0;
}

.recentOrder_customerName{
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    text-align: left;

}
.pending_button{
    background-color: #F8B042;
    color: black;
    padding: 3px 0;
    text-align: center;
    border-radius: 10px;
}

.completed_button{
    background-color:#26599F;
    color: white;
    padding: 4px ;
    text-align: center;
    border-radius: 10px;

}

.titletext{
    text-align: left;
}

.linkDecor{
    text-decoration: none;
    color:  #545454;
    
  
}

p{
    margin: 0;
}