.chatbotBody{
  height: 100vh;
  width: auto; 
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 100px;  

  @media screen and (max-width: 1000px) {
    padding: 50px;  
} 
  @media screen and (max-width: 600px) {
    padding: 20px;  
} 
}



.input_message{
  display: flex;
  align-items: center;
}

.input_message input{
  flex: 1; 
  margin-right: 10px;
  padding: 5px; 
}
.sendMessage_button{
  padding: 5px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  background-color: #26599F;
  border-radius: 25px;
  border: 1px solid;
  color: white;
}

.sendMessage_button:focus{
  background-color: #F8B042;

}
.display_message{
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; 
  gap: 15px;
}
.message-container {
  text-align: left; /* Default alignment for messages */
  border: 2px solid #ccc;
  width: fit-content;
  display: flex;
  align-self: flex-start; /* Aligns the message to the start (left) of the container */
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.message-container.right {
  text-align: right; /* Right alignment for messages with position 'right' */
  align-self: flex-end;
  border: 2px solid #26599F;
}