.addproduct_button{
border-radius: 15px;
padding: 8px;
background-color: #26599F;
width: 180px;
align-self: center;
justify-self: end;
text-align: center;


}

.add_product{
    text-decoration: none;
    color: white;
}

.customer_link-viewall{
    text-decoration: none;
    display: flex;
    text-align: center;
    font-size: 12px;
    color: black;
}

.mainInventory{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 25px;
    padding: 25px;
    padding-bottom: 0px;

}


.topleftInventory{
    width: auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(15px);
    display: grid;
    grid-template-rows: 1.5fr 2fr;
 

}

.allproduct_detail{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    
}

.topleftInventory-productsummary{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.productsummary_icon{
    display: flex;
    gap: 10px;
    color: #26599F;
    align-items: end;
}


.productsummary_viewall p{
    margin: 0;
    font-size: 12px;
}

.boxlist_icon{
    font-size: 25px;
    font-weight: bold;
}
.allproduct{
    font-size: 16px;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, auto);
    text-align: center;
    gap: 10px;

    @media screen and (max-width: 1000px) { 
        font-size: 12px;
     }

}

/* product_category */

.product_category{
    display: grid;
    grid-template-columns: repeat(4, 22%);
    justify-content: space-between;

 
}

.category_box{
    border: 2px solid #26599F;
    border-radius: 10px;
    padding: 15px 5px;
    text-align: center;
    font-weight: bold;

    
    @media screen and (max-width: 1000px) { 
        font-size: 12px;
     }
}

/* .bottomInventory */
.bottomInventory{
    width: auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(15px);
}

.inventory_summary_search{
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    justify-content: space-between;
    align-items: start;
    gap: 25px;
    border-bottom: 1px solid #26599F;
    padding-bottom: 15px;
}

.inventory_search{
    height: 30px;
   width: 250px;
   color: #26599F;
   align-items: center;  
    margin: 0;
   padding-left: 25px;
   box-shadow: none;
   border-radius: 10px;
   border: 1px solid gray;

}

.inventory_detail{
    display: flex;
    
    /* border-bottom: 1px solid #26599F; */
    padding: 5px 0;
    
}

.product_checkbox{ 
    width: 19px;
    height: 19px;
    align-self: center;
    box-shadow: none;
    margin: 0;
}

.checkbox_produtname{
    display: flex;
    gap: 30px;
    align-items: center;
}

.border_bottom{
    border-bottom: 1px solid #26599F;
}

.inventory_list{
    display: flex;
    flex-wrap: wrap;
}

.inventory_item{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
   gap: 20px;
    width: 100%;
}