*, *::before, *::after {
    box-sizing: border-box;
   
    
  }
body{
    height: 100vh;
    
}

.loginBody{
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;

}

.loginBody::before {    
    content: "";
    background-image: url('/src/image/background.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;  
}

.card {
    width: 90vw;
    height: 90vh;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 50% 50%;
    background-color: rgba(237,236,236, .25);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(15px);

    @media (max-width: 900px) {
        display: block;

    } 
  }

.loginRight{
    padding: 80px;
    margin: auto;
    text-align: center;
/* media queries */
    @media(max-width: 1200px) {
        padding: 60px;
      }
    
    @media (max-width: 900px) {
        visibility: hidden;
    } 

  }

.loginLeft{
    padding: 0px 80px;
    margin-left: auto;
    text-align: left;
    width: 100%;

   
    /* media queries */
    @media(max-width: 1200px) {
        padding-left: 50px;  
        margin-top: -60px;
    }

    @media(max-height: 700px) { 
        margin-top: -70px;
    }

    @media (max-width: 900px) {
        padding: 80px;    
    }
    
    @media (max-width: 450px) {
        padding: 20px;
        margin-top: auto;
    }
}
form{
    margin: 30px 0;
    display: grid;
    gap: 30px;   

    @media(max-width: 1200px) {
        margin: 0px;
        gap: 20px; 
        
      }

    @media (max-width: 450px) {
        margin: 10px 0;
        gap: 15px;
    }
}


input{
    margin-top: 10px ;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(15px);
    
    @media(max-width: 1200px) {
        height: 50px;  
      }

      @media(max-width: 450px) {
        height: 40px;  
      }
}

.beforeLogin{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: small;
}

.rememberMe{
    display: flex;
}

.checkBox{
    display: inline;
}

.loginButton{
    margin-top: 15px;
    width: 100%;
    height: 60px;
    border-radius: 50px;
    background-color: #26599F;
    color: white;
    font-size: large;
    border: none;

    @media(max-width: 1200px) {
        height: 50px;  
        margin-top: 10px;
      }
    
      @media(max-width: 450px) {
        height: 40px;  
      }
}

.loginButton:hover{
    background-color: #9ACBE6;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    font-weight: bold;
}

.loginButton:focus{
    background-color: #F8B042;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(15px);
    font-weight: bold;

   
}
.loginImage{
    width: 200px;
    display: inline-block;
    margin-left: 10px;

    @media (max-width: 900px) {
        width: 100px;
        display: flex;
    } 
}

.loginImageLeft{
    visibility: hidden;

    @media (max-width: 900px) {
        visibility: visible;
        width: 100px;
        float: right;
        margin-top: 20px;
    } 

    @media(max-width: 450px) {
        width: 80px;
      }
}
h1, label{
   color: #26599F;
   font-weight: bold;
  
   
}

.password-input button{
    background: none;
    border: none;
    padding: 5px;
}


.password-input{
    display: flex;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    margin-top: 10px ;
    background-color: white;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(15px);

    @media(max-width: 1200px) {
        height: 50px;  
      }
}

.password-input input{
    background:none;
    box-shadow: none;
    backdrop-filter: none;
    margin-top: 0;
}



