.logo{
    width: 200px;
    height: 100%;
    padding-left: 25px;
    padding-top: 20px;
  
    /* box-shadow: 5px 0 6px -3px rgba(0, 0, 0, .25); */

    @media screen and (max-width: 1024px) { 
        width: 160px;
    }
    @media screen and (max-width: 550px) { 
        width: 50px;
        box-shadow: none;
        padding-top: 10px;

    }
}

.navbarImage{
    width: 100px;
    @media screen and (max-width: 550px) { 
        width: 70px;
        
    }

}

.topNavbar{
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 80px;
    top:0;
    width: 100vw;
    align-items: center;
    background-color: white ;
    /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(15px); */
    justify-content: space-between;


    @media screen and (max-width: 1000px) { 
        height: 80px;
    }
    @media screen and (max-width: 550px) { 
        height: 60px;
    }

}

.searchbar{
    width: 40vw;
    height: 40px;
    margin-top: 0;
    margin-left: 35px;
    padding-left: 25px;
    align-items: center;  
    border-radius: 20px; 
    background-color: white;
    box-shadow:  0 2px 4px  rgba(187, 187, 187, 0.5) ;

    @media screen and (max-width: 550px) { 
       display: none;
    }
}


.topNavRight{
    height: 40px;
    align-items: center;  
    margin-right: 25px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

    @media screen and (max-width: 740px) {
        margin-right: 20px;
    } 
    @media screen and (max-width: 530px) { 
        margin-right: 15px;
     }

}

.topnavIcon{
    color: #26599F;
    font-size: 35px;
    margin-left: 20px;
}

.name{
    color: #26599F;
    font-size: 25px;
}

.searchText{
    color: rgb(84, 84, 84, 0.75) ;
    font: 1em sans-serif;
    margin-left: 10px;

    @media screen and (max-width: 550px) { 
        display: none;
     }

}



.navLink{
    border: 1px;
    border-style: ridge;
    border-color: #26599F;
    color: #26599F;
    border-radius: 10px;
    padding: 10px 22px; 
    
    width: 160px;  

    @media screen and (max-width: 1024px) { 
        width: 100px;
        padding: 10px 15px;
    } 
    @media screen and (max-width: 600px) {
        width: 80px;
        padding: 8px 10px;
    } 

    /* @media screen and (max-width: 530px) {
        border: none;
        width: 60px;
        padding: 5px;

    }  */

    @media screen and (max-width: 550px) { 
        width: 30px;
        padding: 5px;
        justify-content: center;
        border-radius: 100%;
    
    } 
}

.navNoLink{
    color: #26599F;
    border-radius: 10px;
    padding: 10px 22px; 
    width: 160px;

    @media screen and (max-width: 1024px) { 
        width: 100px;
        padding: 10px 15px;   
    } 

    @media screen and (max-width: 550px) { 
        width: 30px;
        padding: 5px;
        justify-content: center;
        border-radius: 100%;
    
    }
}

.sidenavIcon{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-right: 5px;

    @media screen and (max-width: 1024px) { 
        font-size: 15px;
     } 
     @media screen and (max-width: 600px) {
        font-size: 10px;
        margin-right: 3px;
    } 
    @media screen and (max-width: 550px) {  
        margin-right: 0px;
        padding: 0;
     }
}

.navText{ 
    font-size: 16px;
    @media screen and (max-width: 1024px) { 
       font-size: 10px;
    } 
    @media screen and (max-width: 600px) {
        font-size: 8px;
    } 

    @media screen and (max-width: 550px) { 
        	display: none; 
        }
}
.bottom_SideNav{
    display: grid;
    gap: 20px;
}

.top_SideNav{
    display: grid;
    gap: 20px;
}