.navLink{
    border: 1px;
    border-style: ridge;
    border-color: #26599F;
    color: #26599F;
    border-radius: 10px;
    padding: 15px; 
    
    @media screen and (max-width: 1000px) {
      padding: 12px;
    } 
    @media screen and (max-width: 600px) {
        /* width: 30px; */
        padding: 5px;
        justify-content: center;
        border-radius: 100%;
    } 

}

.navNoLink{
    color: #26599F;
    border-radius: 10px;
    padding: 10px 22px; 
    width: fit-content;

    @media screen and (max-width: 1024px) { 
        /* width: 100px; */
        padding: 10px 15px;   
    } 

    @media screen and (max-width: 600px) { 
        /* width: 30px; */
        padding: 5px;
        justify-content: center;
        border-radius: 100%;
    
    }
}

.sidenavIcon{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-right: 5px;

    @media screen and (max-width: 1024px) { 
        font-size: 15px;
     } 
     @media screen and (max-width: 600px) {
        font-size: 10px;
        margin-right: 0px;
        padding: 0;
    } 

}

.navText{ 
    font-size: 16px;
    @media screen and (max-width: 1024px) { 
       font-size: 10px;
    } 
    @media screen and (max-width: 600px) {
        display: none; 
    } 

   
}

.bottom_SideNav{
    display: grid;
    gap: 20px;
}

.top_SideNav{
    display: grid;
    gap: 20px;
}