.main_category{
    height: 100vh;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(4, 23%);
justify-content: space-between;
}

.category_title{
    height: 50px;
    border: 2px solid #26599F;
    /* background-color: #26599F; */
    border-radius: 10px 10px 0 0 ;
    color: #26599F;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category_title p{
    margin: 0;
   
}

.category_iphone{
    height: 100%;
    display: grid;
    grid-template-rows: repeat(5, auto);
    gap: 10px;
    /* border-bottom: 1px dashed gray; */
}

.category_iphone_1{
    border-bottom: 1px dashed gray;

}