.main_new_product{
    height: 100vh;
    padding: 25px;


}

.newproduct_button{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    height: 60px;
}

.addproduct_button button{
  background-color: #26599F;
  border: none;
}


.product_input{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;

    @media (max-width: 600px) { 
      margin-bottom: 0;
   }
}

.product_input input{
    background-color: #EDECEC;
    box-shadow: none;
    width: 90%;
    height: 40px;
    border-radius: 10px;
}

.new_product_form_left{
    padding: 25px;  
    display: grid;
    gap: 30px;
}

.calendar input{
  min-height: 100px;
}

.product_form_2_columns{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 100px;

    @media (max-width: 800px) {   
      gap: 50px;
   }

    @media (max-width: 600px) { 
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
   }
   
}

.product_form_1_column{
  display: flex;
  justify-content: start;
}

.product_form_1_column p{
  display: flex;
  justify-content: start;

  @media (max-width: 450px) { 
    font-size: 10px;
  }

}
.product_form_2_columns p{

  @media (max-width: 600px) { 
    display: flex;
    justify-content: start;
  }
  @media (max-width: 450px) { 
    font-size: 10px;

  }
}

.short_description input{
    height: 100px;
    width: 70%;
}

.custom-select {
    position: relative;
    display: inline-block;
    width: fit-content;

    @media (max-width: 600px) { 
      padding-top: 10px;
   
   }
   
    
}

  /* Style the select element */
  .custom-select select {
    height: 40px;
    width: 200px;
    
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 10px; /* Adjust padding as needed */
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #EDECEC;

    @media (max-width: 600px) { 
      font-size: 10px;    
   }

   @media (max-width: 450px) { 
    width: 150px; 
 }
  }

  .custom-select select:focus{
    border-color: #26599F; 
  }

  /* Style the custom arrow */
  .custom-select::after {
    content: "\25BD"; /* Unicode for down-pointing triangle */
    font-size: 15px;  
    position: absolute;
    top: 50%;
    right: 10px; /* Move the arrow 10px to the left */
    transform: translateY(-50%);
    pointer-events: none;
  }



/* input document section */
.editor{
  height: 150px;
  width: 80%;
  background-color: #EDECEC;
  border-radius: 10px;
  padding: 10px;
}

 .css-1fdsijx-ValueContainer{
  height: 2px;
  width: 50px;
}


.editor-container {
  width: 70%;
  height: 150px;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
   /* Push the children to the left and right */
}

.editor-container button{
  width: 26px;
  height: 26px;
  margin-left: 10px;

}
.editor {
  width: 95%;
  
  /* Your editor styles */
}

.actions {
  display: flex;
  flex-direction: column;
position: relative;
  gap: 10px; /* Adjust the gap between buttons as needed */
  align-items: start;
  justify-content: flex-start;
  
}

.clear-button{
  padding: 0;
 
 
}
.clear-icon{
  height: auto;
  width: auto;
  padding: 4px
}
.success-message{
  border: 1px solid #26599F ;
border-radius: 25px;
padding: 5px 20px;
background-color: #26599F;
width: fit-content;
display: flex;
justify-content: center;
}

.error-message{
border: 1px solid #F8B042 ;
border-radius: 25px;
box-shadow:  0 4px 4px  rgba(0, 0, 0, 0.25) ;
padding: 5px 20px;
background-color: #F8B042;
width: fit-content;
}

.display_message{
  margin: 0;
  width: 100%;
  display: flex;
align-items: center;



}